[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"


[packages]

matplotlib = "*"
ipython = "*"
tensorflow = "*"
jupyter = "*"
scipy = "*"
numpy = "*"
seaborn = "*"
PySide = "*"
PyYAML = "*"
opencv-python = "*"
