[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"

[packages]
jupyter = "*"
tensorflow = "*"
opencv-python = "*"
ipython = "*"
pyyaml = "*"
matplotlib = "*"
pyside = "*"
seaborn = "*"
scipy = "*"
numpy = "*"
