[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"

[packages]
opencv-python = "*"
seaborn = "*"
jupyter = "*"
tensorflow = "*"
ipython = "*"
numpy = "*"
pyyaml = "*"
matplotlib = "*"
scipy = "*"
